<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAVE, YOU main page</title>
    <link href="../../static/css/main.css" rel="stylesheet">

</head>
<body>
    <div class="main-back">
        <div class="logo"></div>
        <div class="btn_group">
            <button type="button" onclick="location.href='http://127.0.0.1:8000/service_page/';" class="btn1 btn">Try it now</button>
            <button type="button" onclick="location.href='http://127.0.0.1:8000/more_info_page/';" class="btn2 btn">More Info</button>
        </div>
        <div class="team-members">
            <p>TEAM 홈리스,너 | 이정연 | 이유진 | 백세희</p>
        </div>
    </div>
</body>
</html>
