<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAVE, YOU info page</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
        }
        .full-screen-image {
            width: 100%;
            height: 100%;
            object-fit: cover; /* 이미지가 왜곡되지 않게 화면에 맞춤 */
        }
    </style>
</head>
<body>
    <img src="
    ../../static/image/click.jpg" alt="Image Description" class="full-screen-image">
</body>
</html>
