.main-back {
    width: 90%;
    height: 90vh;
    background-color: white;
    margin: auto;
    margin-top: 5vh;
    border: 3px solid #3ec8ff;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding: 0.1px;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.div-center {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 20px;
}

#uploaded-image {
    margin-top: 20px;
    max-width: 500px;
}

.file-input-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    border: 2px dashed #000;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.file-input-label img {
    max-width: 50px;
    max-height: 50px;
}

.file-input {
    display: none;
}

.file-input-container {
    width: 400px;
    margin: 20px auto 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #3ec8ff;
    border-radius: 15px;
    background-color: #fff;
    height: 300px;
    cursor: pointer;
    text-align: center;

}

.file-input-container:hover {
    background-color: #e0f7ff;
    color: #3ec8ff;
}

.file-input-container span {
    font-size: 16px;
    font-weight: bold;
    
}

.file-input {
    display: none;
}

h1 {
    background: linear-gradient(to right top, #95d4ed, #069cd7);
    color: transparent;
    background-clip: text;
    font-weight: 800;
    margin-bottom: 0;
}

p {
    color: gray;
    font-size: small;
    margin-top: 5px;
}


.check_wrap {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    color: rgb(66, 66, 66);
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    cursor: pointer;
    display: flex;
    align-items: center;
}

input[type="checkbox"] + label > span {
    vertical-align: middle;
    padding-left: 5px;
}

/* label:before에 체크하기 전 상태 CSS */
input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 2px solid #ffce1e;
    border-radius: 4px;
    vertical-align: middle;
    margin-right: 5px;
}

/* label:before에 체크 된 상태 CSS */
input[type="checkbox"]:checked + label:before {
    content: "";
    background-color: #ffec1e;
    border-color: #ffce1e;
    background-repeat: no-repeat;
    background-position: 50%;
}